nav {
  background: tomato;
  padding: 1.5em;
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 2em;
}

.selected {
  /* color: brown; */
  text-decoration: underline;
}